*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    padding: 10px;
}

.menu{
    background-color: rgba(110, 127, 133, 0.87);
    margin: auto;
    width: 100%;
    list-style: none;
    padding: 0;
}

.menu li a{
    text-decoration: none;
    display: block;
    color: white;
    padding: 20px;
}

.menu li a:hover{
    background-color: rgb(153, 131, 119);
    border-radius: 20px;
}

.books{
    font-size: 50px;
    color: lightslategray;
    text-align: center;
    font-family: monospace;
    padding: 0%;
    margin: 5px;
}

footer>nav{
    text-align: center;
}

.buttons{
    justify-content: space-around;
}

.buttons a{
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    height: 35px;
    width: 35px;
    line-height: 35px;
    background: #0e364d;
    color: whitesmoke;
    border-radius: 60px;
}

.buttons a:hover {
    transform: scale(1.2);
} 

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 180px;
    height: 230px;
}

.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

.register{
    text-align: center;
}

.form-register{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 25px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register .btn-enviar {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 10px 0;
    font-size: 16px;
  }

.btn-enviar:hover{
    transform: scale(1);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

